/* REACT-TOASTIFY */

.Toastify__toast {
  font-size: 13px;
  line-height: 15px;
  padding: 12px 25px 12px 25px;
  position: relative;
}
@media(min-width: 768px){
  .Toastify__toast-container {
    width: 100%;
    max-width: 450px;
  }
}
.Toastify__toast-body {
  white-space: pre-line;
}
.Toastify__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Toastify__progress-bar--warning {
  background: linear-gradient(to right, #3c8dbc, transparent);
}
.Toastify__close-button--warning {
  color: #45728D;
}
.Toastify__toast--warning {
  background-color: #FFD29A;
  color: #13547A;
}

/* OTHERS */

body { margin: 0; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
.swal2-container { font-family: Montserrat; }

.container { padding: 10px; }

/* HR
  https://css-tricks.com/examples/hrs/
*/
hr.style-two { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); }

.leftPanelControlBtn {
  position: fixed;
  bottom: 16px; right: 16px;
  z-index: 4;
  background-color: #4558BB;
  color: white;
}

/* LINKS
  See also https://www.youtube.com/watch?v=U5n7E3Lfojo&list=PL3LQJkGQtzc56HquxrkwPdQt9Q1wHm21P&index=11
*/
a {
  color: #4558BB;
    /* color: inherit; */
  text-decoration: none;
  position: relative; /* Для фич - точнее, для псевдоэлементов =) */
}
a::before {
  content: '';
  bottom: 0;
  left: 0; /* WAY 1: Подчеркивание: низ слева направо */
    /* right: 0; WAY 2: Подчеркивание: низ справа налево */
  position: absolute;
  width: 0%; /* width: 100%; WAY 3: center */
  height: 1px;
  background-color: #4558BB;
  transition: 0.5s;

  /* transform: scale(0); WAY 3: center */
}
a:hover::before {
  width: 100%; /* WAY 3: center - should be comented */

  /* transform: scale(1); WAY 3: center */
}
