/* REACT-TOASTIFY */

.Toastify__toast {
  font-size: 13px;
  line-height: 15px;
  padding: 12px 25px 12px 25px;
  position: relative;
}
@media(min-width: 768px){
  .Toastify__toast-container {
    width: 100%;
    max-width: 450px;
  }
}
.Toastify__toast-body {
  white-space: pre-line;
}
.Toastify__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Toastify__progress-bar--warning {
  background: linear-gradient(to right, #3c8dbc, transparent);
}
.Toastify__close-button--warning {
  color: #45728D;
}
.Toastify__toast--warning {
  background-color: #FFD29A;
  color: #13547A;
}

/* OTHERS */

body { margin: 0; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
.swal2-container { font-family: Montserrat; }

.container { padding: 10px; }

/* HR
  https://css-tricks.com/examples/hrs/
*/
hr.style-two { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); }

.leftPanelControlBtn {
  position: fixed;
  bottom: 16px; right: 16px;
  z-index: 4;
  background-color: #4558BB;
  color: white;
}

a {
  /* color: #4558BB; */
  color: inherit;
}
